*{
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    box-sizing: border-box;
}

.content{
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    /* background: linear-gradient(to right, #434343 -90%, black 100%); */
    background: #f0f0f0;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg3.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

nav ul li a{
    color: #f0f0f0;
    text-decoration: none;
    position: relative;
    transition: color 0.5s ease;
    opacity: 1;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: #8dded2;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 20px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover{
    color: #8dded2;
    top: -3px;
}

#website-heading{
    font-family: 'Arvo', serif;
    font-size: 2.4rem;
    color: #f0f0f0;
}

.edited{
    color: #8dded2;
}

.header-text{
    margin-top: 20%;
    font-size: 2rem;
    /* font-family: 'Cairo Play', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.header-text h1{
    font-size: 70px;
    margin-top: -20px;
}

#zhcet{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: -10px;
}

/* About */

#about{
    padding: 80px 0;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-column-1{
    flex-basis: 35%;
}

.h1s{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: black;
}

.about-column-1 img{
    width: 100%;
}

.about-column-2{
    flex-basis: 60%;
}


.about-column-2 p{
    margin-top: 40px;
    font-size: 1.3rem;
}

#resume-button{
    font-size: 1.5rem;
    margin-top:20px;
    background-color: #434343;
    padding: 7px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
}

#resume-button:hover{
    background-color: #00ADB5;
    cursor: pointer;
}

/* Projects */

#projects{
    padding: 50px 0;
    background: url(images/bg-main.jpg);
    background-size: cover;
    background-position: center;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project-videos{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project-videos video{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.project-summary{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.project-summary h3{
    color: #8dded2;
    font-size: 1.5rem;
    font-weight: 600;
}

.project-summary p{
    font-size: 1rem;
    color: white;
    margin-top: 15px;
}

.project-button{
    font-size: 1.2rem;
    margin-top:20px;
    background-color: #434343;
    padding: 7px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
}

.project-button:hover{
    background-color: #00ADB5;
    cursor: pointer;
}

/* Skills */

.skills{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    margin-top: 50px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 20px;
}

.skill-icon{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.skill-icon img{
    width: 50px;
    border-radius: 10px;
    display: block;
}

.skill-summary{
    font-family: 'Poppins', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.skill-desc{
    color: black;
    font-family: 'Poppins', sans-serif;
}

/* Connect With Me! */

#connect{
    padding: 50px 0;
    background: url(images/bg-main.jpg);
    background-size: cover;
    background-position: center;
}

.contact-info-1{
    flex-basis: 35%;
}

.contact-info-2{
    flex-basis: 60%;
}

.contact-info-1 p{
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

.contact-info-1 i{
    font-size: 25px;
    margin-right: 15px;
}

.social-media-icons{
    margin-top: 30px;
}

.social-media-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-media-icons a:hover{
    transform: translateY(-5px);
}

.submit-button{
    display: inline-block;
    font-size: 1.2rem;
    margin-top:20px;
    background-color: #434343;
    padding: 7px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
}

.submit-button:hover{
    background-color: #00ADB5;
    cursor: pointer;
}

.contact-info-2 form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    /* background: rgba(20, 18, 18, 0.5); */
    background: rgba(255,255,255,0.95);
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
}

/* Footer */

footer{
    background: #222831;
    padding: 10px 23px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer span a{
    color: #8DDED2;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

/* Media Queries */

@media only screen and (max-width: 600px){
    #website-heading{
        font-size: 1.8rem;
    }

    nav ul{
        display: none;
    }

    #header{
        background-image: url(images/pfp-mobile.png);
    }

    .header-text{
        margin-top: 140%;
        font-size: 16px;
    }

    .header-text p{
        margin-bottom: 15px;
    }

    .header-text h1{
        font-size: 30px;
    }

    #zhcet{
        padding-top: 15px;
        font-size: 20px;
    }

    /* About Me */

    .h1s{
        font-size: 40px;
    }

    .about-column-1, .about-column-2{
        flex-basis: 100%;
    }

    .about-column-1{
        margin-bottom: 30px;
    }

    .about-column-2 p{
        font-size: 1rem;
    }

    #resume-button{
        font-size: 1.1rem;
    }

    /* Projects */

    .project-button{
        font-size: 1.1rem;
    }

    /* Skills */

    .skills{
        grid-template-columns: repeat(1,1fr);
        /* font-size: 1rem; */
        padding: 1rem 20px;
    }

    .skill-desc{
        font-size: 1.1rem;
    }

    /* Connect */

    .contact-info-1, .contact-info-2{
        flex-basis: 100%;
    }

    footer{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1277px){
    nav ul li{
        font-size: 1.1rem;
    }

    #header{
        background-image: url(images/pfp-mobile.png);
    }

}

@media only screen and (max-width: 1234px){
    nav ul{
        display: none;
    }
}

@media only screen and (max-width: 911px) and (min-width:601px){
    /* About Me */

    .h1s{
        font-size: 40px;
    }

    .about-column-1, .about-column-2{
        flex-basis: 100%;
    }

    .about-column-1{
        margin-bottom: 30px;
    }

    .about-column-1 img{
        width: 400px;
    }

    .about-column-2 p{
        font-size: 1rem;
    }

    #resume-button{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 930px) {
    .projects{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
        grid-gap: 40px;
        margin-top: 50px;
    }
    
    .project-videos{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    
    .project-videos video{
        width: 100%;
        border-radius: 10px;
        display: block;
    }
    
    .project-summary{
        font-family: 'Poppins', sans-serif;
        color: black;
    }
    
    .project-summary h3{
        color: #8dded2;
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .project-summary p{
        font-size: 1rem;
        color: white;
        margin-top: 15px;
        width: 100%;
        height: 100px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .skills{
        grid-template-columns: repeat(1,1fr);
        /* font-size: 1rem; */
        padding: 1rem 20px;
    }

    .skill-desc{
        font-size: 1.1rem;
    }
}